h1{
    color:#de5050;
    margin : 18px 0px 25px 360px;
    text-decoration-line: underline;
    
}

body{
    margin-left:120px;
}
.query{
    font-style: italic;
    font-weight: bold;
    color:#5f2f42;
    font-size: 1.2rem;
}

.sol{
    font-weight: 900;
    font-size: 1.1rem;
    color: rgb(58, 82, 128);
    
}

span{
    color:forestgreen;
    font-weight: bold;
}